// -- define app's theme
@import '~assets/stylesheets/slate';

// -- import Bootstrap framework
@import '~assets/stylesheets/bootstrap';

// -- app's styles goes here...
body {
  background-image: url(../assets/images/bg.png);
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}

header {
  background-color: #252525;
  height: 50px;
  padding: 10px;
}

main {
  flex: 1;
  margin: 20px;

  @media (min-width: $screen-sm-min) {
    //background-color: red;
  }
}

footer {
  background-color: #4c4c4c;
  color: #aaa;
  height: 40px;
  display: flex;

  .container {
    margin: auto;
  }
}

.alert {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5px;
  padding: 5px;
}
