<div class="page_header">
  <h1>
    Movies Collection<br/>
    <small class="muted">Search, view or edit details info and mark your favorite ones!</small>
  </h1>
</div>

<div uib-alert class="alert alert-info alert-dismissible" role="alert" ng-show="vm.moviesNotScrapped > 0">
  <span class="pull-right">
    <button class="btn btn-sm btn-default" role="button" ng-click="vm.scrapeAll()">Scrape</button>
  </span>
  There's <span class="badge" ng-bind="vm.moviesNotScrapped"></span> movies without metadata information!
</div>

<section id="movies"
  infinite-scroll="vm.load()"
  infinite-scroll-disabled="vm.loading"
  infinite-scroll-use-document-bottom="true"
>

  <article class="movie" ng-repeat="movie in vm.movies" ng-click="vm.show(movie)">
    <div class="poster no-poster bg-color-{{$index%5+1}}" ng-hide="movie.poster">
      <span ng-bind="movie.title.charAt(0) | uppercase"></span>
    </div>

    <img class="poster" ng-src="{{movie.poster}}" ng-if="movie.poster">

    <h5 class="title">
      <span ng-bind="movie.title"></span>&nbsp;
      <small class="text-right" ng-bind="(movie.date | date:'yyyy') || movie.year"></small>
    </h5>
  </article>

</section>

<div class="text-center" ng-show="vm.loading">
  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <span class="sr-only">Loading...</span>
</div>
