<div class="page_header">
  <h1>
    Movies Collection
    <small class="muted">Search, view or edit details info and mark your favorite ones!</small>
  </h1>
</div>

<form ng-submit="vm.search()">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6">
      <input type="search" class="form-control" placeholder="Search movie..." ng-model="vm.query">
    </div>
  </div>
</form>

<hr />

<section id="movies">

  <article class="movie" ng-repeat="movie in vm.movies" ng-click="vm.show(movie)">
    <div class="poster no-poster bg-color-{{$index%5+1}}" ng-hide="movie.poster">
      <span ng-bind="movie.name.charAt(0) | uppercase"></span>
    </div>

    <img class="poster" ng-src="movie.poster" ng-if="movie.poster">

    <h5 class="title">
      <span ng-bind="movie.title || movie.name"></span>&nbsp;
      <small class="text-right" ng-bind="movie.year"></small>
    </h5>
  </article>

</section>
