<div class="page_header">
  <h1>
    Movies Collection
    <small class="muted">Search for a movie in your collection. View details, edit info and mark your favorite ones!</small>
  </h1>
</div>

<hr />

<table id="movies" class="table table-hover table-condensed">
  <thead>
    <tr>
      <th class="text-right">#</th>
      <th>Title</th>
      <th>Year</th>
      <th class="text-center">Status</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="movie in vm.movies" ng-click="vm.show(movie)">
      <td class="text-right">{{ $index + 1 }}</td>
      <td>{{ movie.name }}</td>
      <td>{{ movie.year }}</td>
      <td class="text-center">
        <i class="fa fa-circle" ng-class="{
          'text-danger': movie.status === '',
          'text-success': movie.status === 'SYNC'
          }"></i>
      </td>
    </tr>
  </tbody>
</table>
